body{
    background-color: grey;
    min-height: 100vh;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.9375rem  ;
    border-radius: 0.625rem;
}


.navbar-expand-lg .navbar-nav .nav-link:hover{
    background-color: grey;
    transition: all 0.5s linear;
    border-radius: 0.625rem;
}

.tamaniopic{
    height: 40rem;
    width: auto;
    object-fit: cover;
    div img{
        object-fit: cover;
        height: 40rem;
    }
}


.mainvh{
    min-height: calc(100vh - 72px - 150px );
}


.chicharra{
    height: 37.5rem; 
    display: flex;
    justify-content: center;  
    padding: 1.875rem;
}

.chicharron{
    display: flex;
    justify-content: space-evenly;
}

.loremtext{
    color: #DAC1C1;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: overline;
    text-decoration-color: aliceblue;
    text-align: center;
    &:hover{
        background-color: red;
        transition: all 1s linear;
        border-radius: 50px;
    }
    
}

.chicharraimg{
    height: 31.25rem;
    display: flex;
    justify-content: center;
    padding: 30px;

}

.loremtextdos{
    color: #DAC1C1;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: overline;
    text-decoration-color: aliceblue;
    text-align: center;
}

.loremdiv{
    display: flex;
    text-align: center;
    padding: 150px;

}


.loremtextdos:hover{
    background-color: black;
    transition: all 10s linear;
    border-radius: 50px;
}

.accordion{
  color: black;
}

.mvgnolias{
    width: 25rem;
}
